* {
    box-sizing: border-box;
}

#parent {
    scroll-snap-type: y mandatory;
}

.child {
    height: 100vh;
    border: 1px solid black;
    line-height: 100vh;
    text-align: center;
    scroll-snap-align: start;

}
