* {
    font-family:'Roboto Mono', monospace;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

body {
    width: 90vw;
    margin: 0 5vw;
    height: 98vh;    /* padding:  */
    /* overflow: hidden; */
}

#name-deco {
    position: fixed;
    top: -14%;
    left: -2%;
    color: red;
    z-index: 1;
    font-size: 36vw;
    /* font-weight: 900; */
    transform: rotate(-12deg);
    transition: color .8s;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 1% 0;
}

#ul-flex {
    
    display: flex;
}
#ul-flex li {
    flex-basis: 25%;
    text-align: center;
    text-decoration: underline;
}
#ul-grid{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    line-height: 32px;
}

#ul-grid li:nth-of-type(1){
    grid-area: 1 / 1 / 2 / 2;
}

#ul-grid li:nth-of-type(2){
    grid-area: 2 / 2 / 3 / 3;
}

#ul-grid li:nth-of-type(3){
    grid-area: 3 / 3 / 4 / 4;
}

#ul-grid li:nth-of-type(4){
    grid-area: 4 / 4 / 5 / 5;
}
p {
    margin: 1% 0;    
    /* mix-blend-mode: difference; */
    /* normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | hard-light | soft-light | difference | exclusion | hue | saturation | color | luminosity */
}

#cute-photo {
    width: 100%;
    position: fixed;
    top: -10%;
    right: -24%;
    z-index: 0;
}

#cute-photo img {
    width: 100%;
    clip-path: circle(30% at 49.5% 40%);
    transform: rotate(7deg);
}

#projects {
    position: absolute;
    bottom: 4%;
    width: 30%;
    left: 18%;
    text-align: right;
}

#projects a {
    font-size: 26px;
}

#soundcloud {
    background: url(assets/soundcloud.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 48px;
    width: 80px;
    position: fixed;
    right: 4%;
    bottom: 4%;
}


@media only screen and (orientation: portrait) {
    #name-deco {
        top: 2%;
        transform: rotate(-8deg);
        font-size: 58vw;
    }

    #cute-photo {
        top: 28%;
        width: 140%;
        right: -42%
    }

    #projects {
        bottom: 2%;
        width: 70%;
        left: 0%;
        text-align: left;
    }

    #projects a {
        font-size: 22px;
    }
}