* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    /* grid-template-columns: repeat(7,1fr); */
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* flex-direction: row-reverse; */
    /* grid-template-rows: 1fr; */
    /* transition: all 1s; */
}

main > div {
    height: 100%;
    flex-basis: calc(25% / 6);
    flex-shrink: 1;
    flex-grow: 2;
    /* width:inherit;*/
    transition: flex-basis .4s;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    /* z-index: 2; */
    position: relative;
}

main > div:first-child {
    /* height: inherit; */
    background-color: red;
    /* min-width: 36%; */
    flex-basis: 75%;
    z-index: 7;
}

div:nth-child(2){
    background-color: orange;
    z-index: 6;
}

div:nth-child(3){
    background-color: yellow;
    z-index: 5;
}

div:nth-child(4){
    background-color: green;
    z-index: 4;
}

div:nth-child(5){
    background-color: blue;
    z-index: 3;
}

div:nth-child(6){
    background-color: indigo;
    z-index: 2;
}

div:nth-child(7){
    background-color: violet;
    z-index: 1;
}

/* main > div::after {
    color: white;
    position: absolute;
    transform: rotateZ(90deg);
    top: 25%;
    left: 94%;
    font-family: sans-serif;
    font-size: 1rem;
    content: 'LABEL';
    z-index: 999;
} */