.flex {
    display: flex;
    width: 98vw;
    height: 96vh;
    flex-direction: column;
}

.flex > * {
    flex-basis: 10%;
    background: blue;
    height: 100px;
    width: 200px;
    margin: 10px 10px;
    flex-grow: 1;
    position: relative;
}

.flex > div > button { 
    height: 20px;
    width: 20px;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 90%; 
    /* display: none; */
}

#add {
    background: white;
    border: 1px solid black;
}