* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

line {
  opacity: 0;
  stroke-width: 2vw;
  stroke: red;
  transition: opacity .4s;

}

line:hover {
  opacity: 1;
  transition: opacity  0s;  
}