* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#grid-container{
    height: 100%;
    width: 100%;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    /* margin: 20vh auto; */
    overflow: hidden;
    display: grid;
    grid-template-columns: .08fr 1fr .08fr;
    grid-template-rows: 1fr;
    position: relative;   
}

.flex-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 102%;
    scroll-snap-type: x mandatory;
    /* position: absolute; */
    /* top: 6%; */
    /* transition: scroll 1s */
    /* justify-content: space-between; */
}

.item-container {
    width: 100%;
    height: 100%;
    /* padding: 2%; */
    flex-shrink: 0;
    scroll-snap-align: start;
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    /* border: 1px solid black; */
}

/* .flex-container:after{
    content: '';
    flex: 0 0 calc(6% - 1px);} */

/* .item {
    position: relative;
} */

.item-container > * {
    grid-area: 1 / 1/ 2/ 2;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    flex-shrink: 0;
    flex-grow: 0;
}

.border {
    border: 2vw solid white;
    mix-blend-mode: difference;
    z-index: 100;
}

.text {
    position: absolute;
    font-family: Helvetica, Arial, san-serif;
    font-size: 28vw;
    line-height: .5;
    letter-spacing: -1.2vw;
    color: white;
    mix-blend-mode: difference;
    width: 100%;
}

button {
    color: white;
    background: black;
    border: 0;
    font-weight: bold;
    z-index: 99;
    font-size: 100%;
}

button:focus {
    outline: 0;
}

.item:nth-child(1){
    background: blue;
}


.item-container:nth-child(2) .item{
    background: red;
}
.item-container:nth-child(3) .item{
    background: yellow;
}
.item-container:nth-child(4) .item{
    background: yellowgreen;
}

.item-container:nth-child(5) .item{
    background: violet;
}

button:last-child{
    /* right: 5%; */
    grid-area: 1/3/2/4;
}



@media not screen and (orientation: portrait){
    ::-webkit-scrollbar{
    /* width: .1vw; */
    /* background: black; */
}   
}

@media only screen and (orientation: portrait){
    #grid-container{
        height: 100%;
        width: 100%;
        border-top: 0;
        border-bottom: 0;
        margin: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: 1fr .1fr;
        position: relative;   
        /* grid-area: 1 / 1 / 2/ 4; */
    }

    .flex-container {
        grid-area: 1 / 1 / 2 / 3;
        height: 100%;
        /* overflow: scroll; */
    }

    .item-container {
        padding: 0;
    }

    .text {
        position: absolute;
        font-family: Helvetica, Arial, san-serif;
        font-size: 30vh;
        line-height: .6;
        width: 100%;
        letter-spacing: -2.8vh;
        color: white;
        mix-blend-mode: difference;
        /* transform: rotateZ(-90deg); */
        bottom: 0;
        /* right: 0; */
    }

    button {
        font-size: 2rem;
    }
    
    button:first-child{
        grid-area: 2 / 1 / 3 /2;
    }

    button:last-child{
        grid-area: 2 / 2 / 3 /3;
    }

}