* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

main {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(7,1fr); */
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* flex-direction: row-reverse; */
    /* grid-template-rows: 1fr; */
    /* transition: all 1s; */
}

main>div {
    height: 100%;
    flex-basis: calc(25% / 6);
    flex-shrink: 1;
    flex-grow: 2;
    /* width:inherit;*/
    transition: flex-basis .4s;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    /* z-index: 2; */
    position: relative;
    /* will-change: flex-basis; */
}

main>div:first-child {
    /* height: inherit; */
    background-color: red;
    /* min-width: 36%; */
    flex-basis: 75%;
    z-index: 7;
}

main>div:nth-child(2) {
    background-color: orange;
    z-index: 6;
}

main>div:nth-child(3) {
    background-color: yellow;
    z-index: 5;
}

main>div:nth-child(4) {
    background-color: green;
    z-index: 4;
}

div:nth-child(5) {
    background-color: blue;
    z-index: 3;
}

div:nth-child(6) {
    background-color: indigo;
    z-index: 2;
}

div:nth-child(7) {
    background-color: violet;
    z-index: 1;
}

/* main > div::after {
    color: white;
    position: absolute;
    transform: rotateZ(90deg);
    top: 25%;
    left: 94%;
    font-family: sans-serif;
    font-size: 1rem;
    content: 'LABEL';
    z-index: 999;
} */

.label {
    font-size: 1.8vw;
    position: absolute;
    right: -1.6vw;
    transform: rotateZ(90deg);
    color: white;
    /* mix-blend-mode: difference; */
    transition: opacity .1s;
    width: max-content;
    font-weight: bold;
    cursor: default;
    will-change: transform, opacity;
    background: inherit;
    z-index: inherit;
    font-family: sans-serif;
}

@media not screen and (orientation: portrait) {
    .label:first-child {
        top: 75%;
    }

    div:nth-child(2) .label {
        top: 65%;
    }

    div:nth-child(3) .label {
        top: 55%;
    }

    div:nth-child(4) .label {
        top: 45%;
    }

    div:nth-child(5) .label {
        top: 35%;
    }

    div:nth-child(6) .label {
        top: 25%;
    }

    div:nth-child(7) .label {
        top: 15%;
    }
}

.text {
    position: absolute;
    width: 55vw;
    max-height: 75%;
    top: 10%;
    left: 10%;
    color: white;
    /* mix-blend-mode: difference; */
    font-family: serif;
    font-size: 1.6vw;
    display: none;
    /* z-index: inherit; */
    overflow: auto;
    /* will-change: display; */
    /* transition: all .4s; */
}

div:nth-child(3) * {
    color: black;
}

*::-webkit-scrollbar {
    display: none;
}

main>div:first-child>.text {
    display: block;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    margin: .2em 0;
}

p {
    margin: 1em 0;
    line-height: 1.1;
}

p:first-of-type, h3 + p {
    margin-top: 0;
}


@media only screen and (orientation: portrait) {
    main {
        flex-direction: column;
    }

    div>.label.label {
        top: 1vh;
    }

    .label {
        font-size: 2vh;
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        /* mix-blend-mode: difference; */
        transition: opacity .1s;
        font-weight: bold;
        transform: rotateZ(0deg);
        right: 0;
    }

    .text {
        position: relative;
        width: 100%;
        max-height: 85%;
        top: 0;
        left: 0;
        padding: 0 4vh;
        color: white;
        /* mix-blend-mode: difference; */
        font-family: serif;
        font-size: 1rem;
        display: none;
        z-index: inherit;
        overflow: auto;
        margin-top: 6vh;
    }

    main>div {
        box-shadow: 0 0 4px rgb(0, 0, 0);
    }

}