* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

svg {
    background:blue;
    transition: background-color .8s;
}

line {
    stroke-width: .3px;
    stroke:white;
    opacity: 1;
    /* transition: stroke-width .95s; */
}