html,
html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    text-align: center;


}

header {
    max-height: 4vh;
    font-size: 3vh;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;

}

nav div {
    min-height: 48vh;
    line-height: 48vh;
    font-size: 32vh;
    /*    font-weight: 400;*/
}

nav div:first-child {
    border-bottom: 1px solid black;
}

div a {
    text-decoration: none;
}
